<%-include header.ejs%>
    <div class="panel-overlay"></div>
    <div class="panel panel-left panel-cover <%=theme%>">
        <div class="block bg-color-blue userprofile" style="margin-bottom: 0px;margin-top: 0px;">
            <div class="icon-section" style="height: 90px;position: relative;left: 25%;">
                <img src="https://cdn1.iconfinder.com/data/icons/circle-outlines/512/User_Account_Person_Avatar_Profile_Man-512.png" style="height: 100%; width: 50%;">
            </div>
            <div class="text-content">
                <p class="text-color-white" style="text-align: center;margin-bottom: 0px;padding-bottom: 21px;">
                    <%=user.fname+" "+user.lname%>
                </p>
            </div>
        </div>
        <div class="list links-list no-hairlines" style="margin-top:0px">
            <ul class="menu">
                <li class="accordion-item" id="home-link">
                    <a href="#" class="panel-close item-content">
                        <div class="item-inner">
                            <div class="item-title">
                                <i class="fa fa-home"></i>&nbsp;Home</div>
                        </div>
                    </a>

                </li>


                <li class="accordion-item" id="requestCoach-link">
                    <a href="#" class="item-content panel-close">
                        <div class="item-inner">
                            <div class="item-title">
                                <i class="fa fa-user-md"></i>&nbsp;Request Coach</div>
                        </div>
                    </a>
                </li>
                <li class="accordion-item" id="logout-link">
                    <a href="#" class="item-content panel-close">
                        <div class="item-inner">
                            <div class="item-title">
                                <i class="fa fa-sign-out"></i>&nbsp;Logout</div>
                        </div>
                    </a>

                </li>


            </ul>
        </div>

    </div>
    <div class="views">
        <div class="view view-main <%=theme%>">
            <div class="pages">
                <div data-page="home" class="page navbar-fixed toolbar-fixed">
                    <!-- Top Navbar-->
                    <div class="navbar bg-color-blue">
                        <div class="navbar-inner">
                            <!-- Additional "left sliding" class -->
                            <div class="left sliding">
                                <a href="#" class="link icon-only panel-open text-color-white" data-panel="left">
                                    <!--<i class="f7-icons ios-only">bars</i>-->
                                    <i class="material-icons">menu</i>
                                </a>
                            </div>
                            <!-- Additional "center sliding" class -->
                            <div class="title sliding text-color-white" style="font-size:15px;" id="appTitle">
                                <%=appname%>
                            </div>
                            <div class="right sliding">
                                <img src="https://s3.eu-central-1.amazonaws.com/health-link-app-content/LillyIcon.png">
                            </div>
                        </div>
                    </div>
                    <!-- /End of Top Navbar-->

                    <div class="page-content" id="userHome-page" style="background: url(https://www.drinkerbiddle.com/-/media/images/cropped/industries/healthcare.jpg) no-repeat;">
                        <div class="content-block" style="height: 100%;">
                            <div class="row" style="height: 100%">
                                <div class="col" style="width: 50%">
                                    <div class="row">
                                        <div class="bg-color-red tileCardTL" id="aboutUs-button">
                                            <div class="tileContent icon-container">
                                                <i class="fa fa-user-o mainIcon" aria-hidden="true"></i>
                                            </div>
                                            <div class="tileContent title-text">
                                                <h6>About Us</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class=" bg-color-blue tileCardML" id="requestCoach-button">
                                            <div class="icon-container">
                                                <i class="fa fa-user-md mainIcon" aria-hidden="true"></i>
                                            </div>
                                            <div class="tileContent title-text">
                                                <h6>Request Coach</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="bg-color-red tileCardBL" id="askQ-button">
                                            <div class="icon-container">
                                                <i class="fa fa-question-circle-o mainIcon" aria-hidden="true"></i>
                                            </div>
                                            <div class="tileContent title-text">
                                                <h6>Ask Queries</h6>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col" style="width:50%">
                                    <div class="row">
                                        <div class=" bg-color-blue tileCardTR" id="prgms-button">
                                            <div class="tileContent icon-container">
                                                <i class="fa fa-hospital-o mainIcon" aria-hidden="true"></i>

                                            </div>
                                            <div class="tileContent title-text">
                                                <h6>Our Programs</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="bg-color-red tileCardMR" id="htip-button">
                                            <div class="icon-container">
                                                <i class="fa fa-heart-o mainIcon" aria-hidden="true"></i>
                                            </div>
                                            <div class="tileContent title-text">
                                                <h6>Health Tip</h6>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">

                                        <div class="bg-color-blue tileCardBR" id="contact-button">
                                            <div class="icon-container">
                                                <i class="fa fa-phone-square mainIcon" aria-hidden="true"></i>
                                            </div>
                                            <div class="tileContent title-text">
                                                <h6>Contact Us</h6>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <%-include about.ejs%>
                    <%-include program.ejs%>
                    <%-include careCoach.ejs%>
                    <%-include htip.ejs%>
                    <%-include askqueries.ejs%>
                    <%-include contact.ejs%>
                        





                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/framework7/dist/js/framework7.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script>
        let FRAMEWORK7 = Framework7;
        let TEMPLATE7 = Template7;
        let $$ = Dom7;
        var PROGRAM_NAME = "<%=program%>";
    </script>
                            <script src="/javascripts/common.js"></script>
                            <script src="/javascripts/home_user.js"></script>
                            <script>
                                commonLib.init();
                                HomeLib.init();
                            </script>
                            <%-include footer.ejs%>